body {font-family:"Martel"; background-image: linear-gradient(orange, orange, orange, white, blue, white, green, green, green);}
#main{display: block;		border:10px solid black;width:calc(100% - 40px);margin:10px;}
h1{text-align:center;	font-size:1.4em;}
details{	margin:10px;	user-select:none;}
summary{text-align:center;}
p{font-family:'Times New Roman', Times, serif; text-overflow: wrap;}

@media(min-width:600px){
	body {
		font-family:"Martel";
		background-image: linear-gradient(orange, orange, orange, white, blue, white, green, green, green);	}
	#main{
		display: inline-block;
		float:left;
		margin:10px;
		border:10px solid black;
		width:50%;
	}
	h1{
		text-align:center;
		font-size:1.4em;
	}
	details{
		margin:10px;
		user-select:none;
	}
	summary{
		text-align:center;
	}
	p{
		font-family:'Times New Roman', Times, serif;
		text-overflow: wrap;
	}
}
