@media(max-width:599px){
	.question{
		width:100%;
	}
}
@media(min-width:801px){
	.question{
		width:40%;
		max-width:650px;
	}
}
@media(min-width:600px) and (max-width:699px){
	.question{
		width:80%;
		max-width:650px;
	}
}
@media(min-width:700px) and (max-width:800px){
	.question{
		width:70%;
		max-width:650px;
	}
}

.question{
	float:left;
}
body {font-family:"Martel";}
h1{text-align:center;font-size:1.4em;}
details{margin:10px;user-select:none;}
.dev{color:orange;font-weight: 800;}
.test{display:flex;gap:10px;}
a{color:blue;}
li{font-weight:400;}
.ans{
	color:red;
	font-weight:bolder;
}
.source{
	text-decoration: underline;
}
details>summary {
	list-style: none;
	width:calc(100%-20);
	background-color:orange;
	border-radius:10px;
	padding:10px;
}

details>summary::-webkit-details-marker {
	display: none;
}
